{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sky</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'App/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'App/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'App/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'App/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'App/images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% static 'App/index.html' %}"><img src="{% static 'App/images/logo.svg' %}" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="{% static 'App/index.html' %}"><img src="{% static 'App/images/logo-mini.svg' %}" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  
                </span>
              </div>
              
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Just now
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="ti-settings mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Settings</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Private message
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="ti-user mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="../../images/faces/face28.jpg" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          <li class="nav-item nav-settings d-none d-lg-flex">
            <a class="nav-link" href="#">
              <i class="icon-ellipsis"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
              <p class="text-gray mb-0">The total number of sessions</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="../../images/faces/face1.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face2.jpg" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face3.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face4.jpg" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face5.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face6.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/dashboard/scan_user/">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Acceso</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="http://127.0.0.1:8000/dashboard/tables/" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Usuarios</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/buttons.html">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/typography.html">Typography</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="http://127.0.0.1:8000/dashboard/ranking/" aria-expanded="false" aria-controls="form-elements">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Ranking</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="../../pages/forms/basic_elements.html">Basic Elements</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="http://127.0.0.1:8000/dashboard/create_user/" aria-expanded="false" aria-controls="charts">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Crear Usuario</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/charts/chartjs.html">ChartJs</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="http://127.0.0.1:8000/dashboard/dashboards/" aria-expanded="false" aria-controls="tables">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">Dashboards</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/tables/basic-table.html">Cumple</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="http://127.0.0.1:8000/dashboard/inventory/" aria-expanded="false" aria-controls="icons">
              <i class="icon-contract menu-icon"></i>
              <span> Inventario</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/icons/mdi.html">Mdi icons</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="http://127.0.0.1:8000/dashboard/gastos/" aria-expanded="false" aria-controls="auth">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">Costos</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/register.html"> Register </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
              <i class="icon-ban menu-icon"></i>
              <span class="menu-title">Error pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-500.html"> 500 </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../pages/documentation/documentation.html">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
         
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

</head>
<body>
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title"> <h2>Inventario</h2> </p>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table id="example" class="display expandable-table" style="width:100%">
                <thead>
                  <tr>
                    
                    <th> Nombre </th>
                    <th> Cantidad </th>
                    <th> Costo </th>
                    <th> Precio Venta </th>
                    <th> Cantidad Vendida </th>
                    <th> Utilidad </th>
                    <th> Eliminar </th>
                    <th> Guardar </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td contenteditable="true" >Agua Dasani</td>
                    <td contenteditable="true" oninput="calcularTotal(this)" >0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">
                      <span id="utilidad"></span>
                    </td>
                    
                    
                    
                    
                    <td contenteditable="false"><button type="button" class="btn btn-outline-danger btn-fw" onclick="borrar(this)">Eliminar</button></td>
                    <td contenteditable="false" ><button type="button" class="btn btn-outline-success btn-fw" onclick="guardar(this)"> Guardar</button></td>
                  </tr>
                  <tr>
                    <td contenteditable="true" >Agua Dasani</td>
                    <td contenteditable="true" oninput="calcularTotal(this)" >0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">
                      <span id="utilidad"></span>
                    </td>
                    
                    
                    
                    
                    <td contenteditable="false"><button type="button" class="btn btn-outline-danger btn-fw" onclick="borrar(this)">Eliminar</button></td>
                    <td contenteditable="false" ><button type="button" class="btn btn-outline-success btn-fw" onclick="guardar(this)"> Guardar</button></td>
                  </tr>
                  <tr>
                    <td contenteditable="true" >Agua Dasani</td>
                    <td contenteditable="true" oninput="calcularTotal(this)" >0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">
                      <span id="utilidad"></span>
                    </td>
                    
                    
                    
                    
                    <td contenteditable="false"><button type="button" class="btn btn-outline-danger btn-fw" onclick="borrar(this)">Eliminar</button></td>
                    <td contenteditable="false" ><button type="button" class="btn btn-outline-success btn-fw" onclick="guardar(this)"> Guardar</button></td>
                  </tr>
                  <tr>
                    <td contenteditable="true" >Agua Dasani</td>
                    <td contenteditable="true" oninput="calcularTotal(this)" >0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">
                      <span id="utilidad"></span>
                    </td>
                    
                    
                    
                    
                    <td contenteditable="false"><button type="button" class="btn btn-outline-danger btn-fw" onclick="borrar(this)">Eliminar</button></td>
                    <td contenteditable="false" ><button type="button" class="btn btn-outline-success btn-fw" onclick="guardar(this)"> Guardar</button></td>
                  </tr>
                  <tr>
                    <td contenteditable="true" >Agua Dasani</td>
                    <td contenteditable="true" oninput=calcularTotal(this) >0.50</td>
                    <td contenteditable="true" oninput=calcularTotal(this)>0.50</td>
                    <td contenteditable="true" oninput=calcularTotal(this)>0.50</td>
                    <td contenteditable="true" oninput=calcularTotal(this)>0.50</td>
                    <td contenteditable="true" oninput="calcularTotal(this)">
                      <span id="utilidad"></span>
                    </td>
                    
                    
                    
                    
                    <td contenteditable="false"><button type="button" class="btn btn-outline-danger btn-fw" onclick="borrar(this)">Eliminar</button></td>
                    <td contenteditable="false" ><button type="button" class="btn btn-outline-success btn-fw" onclick="guardar(this)"> Guardar</button></td>
                  </tr>
                </tbody>
                <form id="formAgregarFila" style="display: flex; justify-content: space-between;">
                  <input type="text" id="nombre" placeholder="Nombre" style="margin-right: 10px;">
                  <input type="number" id="cantidad" step="0.01" placeholder="Cantidad" style="margin-right: 10px;">
                  <input type="number" id="costo" step="0.01" placeholder="Costo" style="margin-right: 10px;">
                  <input type="number" id="precioVenta" step="0.01" placeholder="Precio Venta" style="margin-right: 10px;">
                  <input type="number" id="cantidadVendida" step="1" placeholder="Cantidad Vendida" style="margin-right: 10px;">
                  <button type="button" onclick="agregarFila()" class="btn btn-info btn-rounded btn-fw">Agregar</button>
              </form>
              
                  
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  
  <script>
    $(document).ready(function() {
      // Inicializar DataTable y agregar funcionalidad de filtrado
      var table = $('#example').DataTable();

      $('#searchInput').on('keyup', function() {
        var searchValue = $(this).val();
        table.search(searchValue).draw();
      });
    });
    
      // Función para eliminar una fila
      function borrar(button) {
        var row = button.parentNode.parentNode;
        var rowId = row.id;
      
        // Eliminar la fila de la tabla
        var table = $('#example').DataTable();
        table.row(row).remove().draw();
      
        // Eliminar los datos del almacenamiento local
        localStorage.removeItem(rowId);
      }
    
      // Función para guardar los cambios en la tabla
      function guardar() {
        guardarDatosTabla();
      }
    
      // Función para guardar los datos de la tabla en el almacenamiento local del navegador
      function guardar(button) {
        var row = button.parentNode.parentNode;
        var cells = row.getElementsByTagName("td");
        for (var i = 0; i < cells.length - 1; i++) {
          cells[i].setAttribute("contenteditable", "false");
        }
      
        // Obtener los valores editados
        var nombre = cells[0].textContent;
        var cantidad = parseFloat(cells[1].textContent);
        var costo = parseFloat(cells[2].textContent);
        var total = parseFloat(cells[3].textContent);
      
        // Guardar los valores en el almacenamiento local
        var rowData = {
          nombre: nombre,
          cantidad: cantidad,
          costo: costo,
          total: total
        };
        localStorage.setItem(row.id, JSON.stringify(rowData));
      }
    
      // Función para cargar los datos de la tabla desde el almacenamiento local del navegador
      function cargarDatosTabla() {
        var table = document.getElementById("example");
        var data = localStorage.getItem("tablaData");
    
        if (data) {
          data = JSON.parse(data);
    
          for (var i = 0; i < data.length; i++) {
            var rowData = data[i];
            var newRow = table.insertRow(table.rows.length);
    
            for (var j = 0; j < rowData.length; j++) {
              var cell = newRow.insertCell(j);
              cell.contentEditable = true;
              cell.innerText = rowData[j];
              cell.setAttribute("oninput", "calcularTotal(this)");
            }
    
            newRow.insertCell(rowData.length).innerHTML = '<button type="button" class="btn btn-outline-danger btn-fw" onclick="borrar(this)">Eliminar</button>';
            newRow.insertCell(rowData.length + 1).innerHTML = '<button type="button" class="btn btn-outline-success btn-fw" onclick="guardar(this)">Guardar</button>';
          }
        }
      }
    
      // Cargar los datos de la tabla al cargar la página
      cargarDatosTabla();
    

      function calcularTotal(cell) {
        var row = cell.parentNode;
        var cantidad = parseFloat(row.cells[1].innerText);
        var costo = parseFloat(row.cells[2].innerText);
        var precioVenta = parseFloat(row.cells[3].innerText);
        var cantidadVendida = parseFloat(row.cells[4].innerText);
    
        var utilidad = (cantidad * costo) + (cantidadVendida * precioVenta);
        row.cells[5].innerText = utilidad.toFixed(2);
    
        if (utilidad < 0) {
          row.cells[5].innerText = '-' + Math.abs(utilidad.toFixed(2));
        } else {
          row.cells[5].innerText = utilidad.toFixed(2);
        }
      }
    
      function actualizarUtilidad() {
        var table = document.getElementById('example');
        var rows = table.getElementsByTagName('tr');
    
        for (var i = 1; i < rows.length; i++) {
          var row = rows[i];
          var cantidad = parseFloat(row.cells[1].innerText);
          var costo = parseFloat(row.cells[2].innerText);
          var precioVenta = parseFloat(row.cells[3].innerText);
          var cantidadVendida = parseFloat(row.cells[4].innerText);
    
          var utilidad = (cantidad * costo) + (cantidadVendida * precioVenta);
          row.cells[5].innerText = utilidad.toFixed(2);
    
          if (utilidad < 0) {
            row.cells[5].innerText = '-' + Math.abs(utilidad.toFixed(2));
          } else {
            row.cells[5].innerText = utilidad.toFixed(2);
          }
        }
      }
      
      
      
      
      
        function agregarFila() {
          // Obtener los valores del formulario
          var nombre = document.getElementById("nombre").value;
          var cantidad = document.getElementById("cantidad").value;
          var costo = document.getElementById("costo").value;
          var precioVenta = document.getElementById("precioVenta").value;
          var cantidadVendida = document.getElementById("cantidadVendida").value;
      
          // Crear una nueva fila en la tabla
          var table = document.getElementById("example").getElementsByTagName("tbody")[0];
          var newRow = table.insertRow(table.rows.length);
      
          // Agregar las celdas a la nueva fila
          var cells = newRow.insertCell();
          cells.contentEditable = true;
          cells.innerText = nombre;
      
          cells = newRow.insertCell();
          cells.contentEditable = true;
          cells.setAttribute("oninput", "calcularTotal(this)");
          cells.innerText = cantidad;
      
          cells = newRow.insertCell();
          cells.contentEditable = true;
          cells.setAttribute("oninput", "calcularTotal(this)");
          cells.innerText = costo;
      
          cells = newRow.insertCell();
          cells.contentEditable = true;
          cells.setAttribute("oninput", "calcularTotal(this)");
          cells.innerText = precioVenta;
      
          cells = newRow.insertCell();
          cells.contentEditable = true;
          cells.setAttribute("oninput", "calcularTotal(this)");
          cells.innerText = cantidadVendida;
      
          cells = newRow.insertCell();
          cells.contentEditable = true;
          cells.innerText = "";
      
          cells = newRow.insertCell();
          cells.innerHTML = '<button type="button" class="btn btn-outline-danger btn-fw" onclick="borrar(this)">Eliminar</button>';
      
          cells = newRow.insertCell();
          cells.innerHTML = '<button type="button" class="btn btn-outline-success btn-fw" onclick="guardar(this)">Guardar</button>';
      
          // Reiniciar los valores del formulario
          document.getElementById("nombre").value = "";
          document.getElementById("cantidad").value = "";
          document.getElementById("costo").value = "";
          document.getElementById("precioVenta").value = "";
          document.getElementById("cantidadVendida").value = "";
        }
      
      
    
    </script>
    

    
              
  
</body>



  



        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
